*.class

# Package Files #
*.jar
*.war
*.ear
/Relations/build/
/Inscription/nbproject/private/
/Inscription/build/
/Relation/build/
/Relation/nbproject/private/
/Relation/dist/
/Travel/build/
/Travel/dist/